<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DnDonations Stream information</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Press+Start+2P&display=swap" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'Gold Box';
            src: url('/css/goldbox.woff') format("woff");
        }
        html, body {
            background-color: black;
            color: white;
            padding: 0px;
            margin: 0px;
            border: 0px;
        }
        .gb {
            font-family: 'Gold Box';
            font-size: 24px;
        }
        .p2 {
            font-family: 'Press Start 2P', cursive;
        }
    </style>
    <script type="text/javascript">
        var url = "{{ content_url }}";
        function updateContent () {
            document.getElementById('content').innerHTML = this.responseText;
        }
        function loadContent() {
            var oReq = new XMLHttpRequest();
            oReq.addEventListener("load", updateContent);
            oReq.open("GET", url);
            oReq.send();
        }
        setInterval(loadContent, 5000);
        loadContent();
     </script>
</head>
<body>
    <div id="content"></div>
</body>
</html>
