<!DOCTYPE html>
<html lang="en" ng-app="dnd">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Press+Start+2P&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="js/dndonations.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>DnDonations Registration Console</title>
</head>

<body>

    <div class="grid-container">
        <div class="box hd"><h1>DnDonations Registration Console</h1></div>
        <div class="box li" ng-controller="LoginController">
            <a href="" ng-click="show_modal = true;" ng-show="login_successful==false">Login</a>
            <span ng-show="login_successful">Logged in 🌮</span>
            <!-- login modal -->
            <div id="lm" class="logmodal" ng-show="show_modal">
                <div>
                    <a href="" title="Close" class="close" ng-click="show_modal = false;">X</a>
                    <h2>Please Log In</h2>
                    <fieldset>
                        <form novalidate ng-submit="doLogin(user)">
                            <label>Username: <input type="text" ng-model="user.username"/></label><br/>
                            <label>Password: <input type="password" ng-model="user.password"/></label><br/>
                            <input type="submit" value="Login" />
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>

        <!-- Donor Administration -->
        <div class="box dn" ng-controller="ViewDonorController">
            <div id="lookup">
                <h3>Donor Lookup</h3>
                <input type="text" ng-model="query" ng-focus="refreshDonors()"/>
                <table>
                    <tr ng-repeat="d in donors | filter:query | limitTo: 10" ng-click="showDonor(d.id)">
                        <td>{{ d.first_name }}</td>
                        <td>{{ d.last_name }}</td>
                        <td>{{ d.email_address }}</td>
                        <td><button>Select</button></td>
                    </tr>
                </table>
            </div>

            <!-- View Donor -->
            <div id="results" ng-show="current_donor != null">
                
                <div class="doninfobox">
                    <h3>Donor Information</h3>

                    <table class="dondeets">
                        <tr>
                            <td class="deetlab">First Name:</td>
                            <td>{{current_donor.first_name}}</td>
                        </tr>
                        <tr>
                            <td class="deetlab">Last Name:</td>
                            <td>{{current_donor.last_name}}</td> 
                        </tr>
                        <tr>
                            <td class="deetlab">Email:</td>
                            <td>{{current_donor.email_address}}</td>
                        </tr>
                        <tr>
                            <td class="deetlab">Physical Address:</td>
                            <td>{{current_donor.physical_address}}</td>
                        </tr>
                        <tr>
                            <td class="deetlab">DCI Number:</td>
                            <td>{{current_donor.dci_number}}</td>
                        </tr>
                        <tr>
                            <td class="deetlab">Total Donations:</td>
                            <td>{{current_donor.total_donations}}</td>
                        </tr>
                        <tr>
                            <td class="deetlab">Available Gold:</td>
                            <td>{{current_donor.available_gold}}</td>
                        </tr>
                    </table>

                    
                
<!--             
                </div>
                <div class="donchars"> -->
                    <div id="donchars">
                        <h3>Characters</h3>

                        <table id="chartable">
                            <tr ng-repeat="c in current_donor_characters">
                                <td>Character: </td>
                                <td>{{c.name}}</td>
                                <td>Race: </td>
                                <td>{{c.race}}</td>
                                <td>Class:</td>
                                <td>{{c.class}}</td>
                                <td>{{c.state}}</td>
                                <td>
                                    <button class="qbtn" ng-show="c.state=='queued';" ng-click="removeFromQueue(c.id);">Remove from queue</button>
                                    <button class="qbtn" ng-show="c.state=='removed';" ng-click="unremoveFromQueue(c.id);">Add back to queue</button>
                                </td> 
                            </tr>                        
                        </table>
                    </div>
                    

                </div>
                <button ng-click="panel='addgold'">Add Gold</button>
                <button ng-click="panel='addchar'">Add Character</button><br>
                <button ng-click="panel='addboon'" ng-disabled="current_donor.available_gold < 5.0">Purchase Boon</button>
                <button ng-click="panel='addbane'" ng-disabled="current_donor.available_gold < 5.0">Purchase Bane</button>

                <!-- This div's content is swapped out -->
                <div ng-switch on="panel">
                    <!-- add Gold panel-->

                    <div ng-switch-when="addgold">
                        <form ng-submit="addDonation()">
                            <label for="amount">Amount:</label><br>
                            <input type="text" name="amount" ng-model="nd.amount">
                            <label for="method">Method:</label><br>
                            <select class="select-css" name="method" ng-model="nd.method">
                                <option value="cash" default>Cash</option>
                                <option value="online">Online</option>
                            </select>
                            <input type="submit" value="Submit">
                        </form>
                    </div>


                    <!-- <div ng-switch-when="addgold">
                        <form ng-submit="addDonation()">
                            <label>Amount: <input type="text" ng-model="nd.amount"/></label><br/>
                            <label>Method: 
                                <select ng-model="nd.method">
                                    <option value="cash" default>Cash</option>
                                    <option value="online">Online</option>
                                </select></label><br/>
                            <input type="submit" value="Submit" />
                        </form>
                    </div> -->

                    <!-- add char -->
                    <div ng-switch-when="addchar">
                        <h3>Add New Character</h3>
                        <form novalidate ng-submit="createCharacter()">
                          <label>Character Name: </label> <input type="text" ng-model="character.name"/><<br>
                          <label>Race:<select ng-model="character.race">
                              <option selected>Dragonborn</option>
                              <option>Drow</option>
                              <option>Dwarf</option>
                              <option>Elf</option>
                              <option>Gnome</option>
                              <option>Half-Elf</option>
                              <option>Half-Orc</option>
                              <option>Halfling</option>
                              <option>Human</option>
                              <option>Tiefling</option>
                          </select></label>
                          <label>Character Class<select ng-model="character.char_class">
                              <option selected>Barbarian</option>
                              <option>Bard</option>
                              <option>Cleric</option>
                              <option>Druid</option>
                              <option>Fighter</option>
                              <option>Monk</option>
                              <option>Paladin</option>
                              <option>Ranger</option>
                              <option>Rogue</option>
                              <option>Sorcerer</option>
                              <option>Warlock</option>
                              <option>Wizard</option>
                          </select>
                          <label>Benefactor:<select ng-model="character.benefactor">
                              <option ng-repeat="donor in donors" value="{{donor.id}}" ng-if="donor.available_gold >= 5">{{donor.first_name}} {{donor.last_name}}</option>
                          </select></label>
                          <input type="submit" value="Create"/>
                        </form>
                    </div>
                    <!-- add boon -->
                    <div ng-switch-when="addboon">
                        <h4>purchase boon</h4>
                        <form ng-submit="addPurchase('boon')">
                            <label><input type="radio" ng-model="boonamt" value="5" name="boonamt">$5 (random draw)</label><br>
                            <label><input type="radio" ng-model="boonamt" value="15" name="boonamt" ng-disabled="current_donor.available_gold < 15.0">$15 (Select from lower table)</label><br>
                            <label><input type="radio" ng-model="boonamt" value="30" name="boonamt" ng-disabled="current_donor.available_gold < 30.0">$30 (Select from current table)</label><br>
                            <input type="submit" value="purchase"/>
                        </form>
                    </div>
                    <!-- add bane -->
                    <div ng-switch-when="addbane">
                        <h4>purchase bane</h4>
                        <form ng-submit="addPurchase('bane')">
                            <label><input type="radio" name="baneamt" ng-model="baneamt" value="5">$5 (random draw)</label><br>
                            <label><input type="radio" name="baneamt" ng-model="baneamt" value="15" ng-disabled="current_donor.available_gold < 15.0">$15 (Select from lower table)</label><br>
                            <label><input type="radio" name="baneamt" ng-model="baneamt" value="30" ng-disabled="current_donor.available_gold < 30.0">$30 (Select from current table)</label><br>
                            <input type="submit" value="purchase" />
                        </form>
                    </div>
                </div>
            </div>
            <div>{{error_msg}}</div>
        </div>
        
        <!-- Player Queue -->
        <div class="box qu" ng-controller="QueueController">
            <h3>Player Queue ({{queue.waiting.length}})</h3>
            {{queue_errror}}
            <div class="playqu">
                <table>
                    <tr ng-repeat="q in queue.waiting">
                        <td>{{q.name}}</td>
                        <td>{{q.race}}</td>
                        <td>{{q.class}}</td>
                        <td>{{q.state}}</td>
                    </tr>
                </table>
                
            </div>
        </div>

        <!-- Donor Add -->
        <div class="box da" ng-controller="NewDonorController">
            <h3>Add Donor</h3>
            <form ng-submit="addDonor(donor)">
                <label>First Name: <input type="text" ng-model="donor.first_name" required/></label><br />
                <label>Last Name: <input type="text" ng-model="donor.last_name" required/></label><br/>
                <label>Physical Address: <input type="text" ng-model="donor.physical_address" required/></label><br/>
                <label>Email: <input type="email" ng-model="donor.email_address" required/></label><br/>
                <label>DCI Number: <input type="text" pattern="[0-9]*" title="Must be numbers only" ng-model="donor.dci_number"/></label><br/>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>

    

</body>
</html>
