<!DOCTYPE html>
<html lang="en" ng-app="dnd">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="js/dndonations.js"></script>
    <link rel="stylesheet" href="css/dnd.css">
  </head>
  <body>
    <div class="container" ng-controller="LoginController">
      <h2>Login</h2>
      <form novalidate>
          <label>Username: <input type="text" ng-model="user.username"/></label><br/>
          <label>Password: <input type="password" ng-model="user.password"/></label><br/>
          <input type="submit" ng-click="doLogin(user)" value="Login" />
      </form>
      <div>{{ user | json }}</div>
      <div>{{ apitoken }}</div>
    </div>

    <div class="container" ng-controller="SearchController" ng-show="display">
      <h2>Donor Search</h2>
      <form novalidate>
        <input type="text" ng-model="query"/>
        <input type="submit" ng-click="performSearch(query)" value="Search">
      </form>
      <table ng-show="display">
        <tr ng-repeat="d in donor_results">
          <td ng-click="showDonor(d.id)">{{ d.first_name }}</td>
          <td>{{ d.last_name }}</td>
          <td>{{ d.email_address }}</td>
        </tr>
      </table>
    </div>

    <div class="container" ng-controller="NewDonorController" ng-show="display">
      <h2>New Donor</h2>
      <form novalidate>
        <label>First Name: <input type="text" ng-model="donor.first_name"/></label><br />
        <label>Last Name: <input type="text" ng-model="donor.last_name"/></label><br/>
        <label>Physical Address: <input type="text" ng-model="donor.physical_address"/></label><br/>
        <label>Email: <input type="text" ng-model="donor.email_address"/></label><br/>
        <label>DCI Number: <input type="text" ng-model="donor.dci_number"/></label><br/>
        <input type="submit" ng-click="addDonor(donor)" value="Submit" />
      </form>
      <div>{{donor | json}}</div>
      <div>{{error_msg}}</div>
    </div>

    <div class="container" ng-controller="DonorController" ng-show="display">
      <h2>View Donor</h2>
      <div>First name: {{donor.first_name}}</div>
      <div>Last name: {{donor.last_name}}</div>
      <div>Email: {{donor.email_address}}</div>
      <div>Physical Address: {{donor.physical_address}}</div>
      <div>DCI: {{donor.dci_number}}</div>
      <div>Availabe Gold: {{donor.balance}}</div>
      <input type="submit" ng-click="showDonationForm()" value="Add Donation"/>
      <div ng-show="nd_display">
          <label>Amount: <input type="text" ng-model="donation.amount"/></label><br/>
          <label>Type: <input type="text" ng-model="donation.method"/></label><br/>
          <input type="submit" ng-click="addDonation()" value="Submit" />
      </div>
      <div>{{error_msg}}</div>
    </div>

    <div class="container" ng-controller="NewCharacterController" ng-show="display">
        <h2>New Character</h2>

        <form novalidate>
          <label>Character: <input type="text" ng-model="character.name"/></label><br/>
          <label>Race: <input type="password" ng-model="user.password"/></label><br/>
          <label>Class: <input type="password" ng-model="user.password"/></label><br/>
          <label>Account paying registration: <input type="password" ng-model="user.password"/></label><br/>
          <input type="submit" ng-click="doLogin(user)" value="Login" />
      </form>
      <div>{{ user | json }}</div>
      <div>{{ apitoken }}</div>
    </div>

  </body>
</html>
