<!DOCTYPE html>
<html lang="en" ng-app="dnd">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Press+Start+2P&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="js/dndonations.js"></script>
    <title>DnDonations Streaming Console</title>
</head>

<body>
    <div class="grid-container">
        <div class="box hd"><h1>DnDonations Streaming Console</h1></div>
        <div class="box li" ng-controller="LoginController">
            <a href="" ng-click="show_modal = true;" ng-show="login_successful==false">Login</a>
            <span ng-show="login_successful">Logged in 🌮</span>
            <!-- login modal -->
            <div id="lm" class="logmodal" ng-show="show_modal">
                <div>
                    <a href="" title="Close" class="close" ng-click="show_modal = false;">X</a>
                    <h2>Please Log In</h2>
                    <fieldset>
                        <form novalidate ng-submit="doLogin(user)">
                            <label>Username: <input type="text" ng-model="user.username"/></label><br/>
                            <label>Password: <input type="password" ng-model="user.password"/></label><br/>
                            <input type="submit" value="Login" />
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
        <div ng-controller="StreamController">
            <!-- Stream Ops -->
            <div class="box dn">
                {{error_msg}}
                <div>
                    <form ng-submit="setTicker();">
                        <input type="text" ng-model="stream_ticker"></input>
                        <input type="submit" value="Change Ticker" />
                    </form>
                </div>
                <div>
                    <div>Current DM Name: {{current_dm.name}}</div>
                    <div>Team: {{current_dm.team}}</div>
                    <div>Kills: {{current_dm.numkills}}</div>
                    <form ng-submit="regNewDm()">
                        <label>Name:<input type="text" ng-model="newdm.name"></input></label>
                        <label>Team:
                        <select ng-model="newdm.team">
                        <option value="duskpatrol">Duskpatrol</option>
                        <option value="moonwatch">Moonwatch</option>
                        <option value="sunguard">Sunguard️</option>
                        </select></label>
                        <input type="submit" value="Submit" />
                    </form>
                </div>
                <div>
                    <form ng-submit="setNextgoal()">
                        <select ng-model="nextgoal">
                            <option>$750</option>
                            <option>$1000</option>
                            <option>$1250</option>
                            <option>$1500</option>
                            <option>$2000</option>
                            <option>$2500</option>
                            <option>$3000</option>
                            <option>$4000</option>
                            <option>$5000</option>
                            <option>$7500</option>
                            <option>$10000</option>
                        </select>
                        <input type="submit" value="Submit" />
                </div>
            </div>

            <div class="box cc">
                <h2>Rendered results here</h2>
                <div>Current Stream Message: {{current_stream_msg}}</div>
                <div>NewDM JSON: {{newdm | json}}</div>
                <div>next goal: {{current_nextgoal}}</div>
            </div>

            <div class="box qc" ng-controller="QueueController">
                <h2>Playing</h2>
                <table>
                    <tr ng-repeat="n in [].constructor(6) track by $index">
                        <td>P{{$index+1}}</td>
                        <td colspan="5" ng-show="queue.playing[$index] === null">
                          <select ng-options="character.name for character in queue.waiting track by character.id" ng-model="selected[$index]"></select>
                          <button ng-click="seatPlayer($index);">start</button>
                        </td>
                        <td ng-show="queue.playing[$index] !== null">{{ queue.playing[$index].name }}</td>
                        <td ng-show="queue.playing[$index] !== null">{{ queue.playing[$index].race }}</td>
                        <td ng-show="queue.playing[$index] !== null">{{ queue.playing[$index].class }}</td>
                        <td ng-show="queue.playing[$index] !== null">resses: {{ queue.playing[$index].num_resses}} </td>
                        <td ng-show="queue.playing[$index] !== null">
                            <button ng-click="resPlayer($index);">Res (${{ Math.pow(2,Number(queue.playing[$index].num_resses))*5 }})</button>
                            <button ng-click="killPlayer($index);">kill</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div>{{queue | json }}</div>
        </div>
    </div>
</body>
</html>
