h1, h2, h3, h4, h5, h6 {
    font-family: "Press Start 2P";
}

.grid-container {
    display: grid;
    gap: 1em;
    grid-template-areas: 
    "hd hd hd hd hd"
    "main main main qu qu"
}

.box {
    background-color: gray;
    color: white;
    padding: .25em;
    border-radius: 10px;
}
 
.hd {
    grid-area: hd;
}

.main {
    grid-area: main;
}

.qu {
    grid-area: qu;
}

@media only screen and (max-width: 500px) {
    .grid-container {
        grid-template-areas: 
        "hd"
        "main"
        "qu"        
    }
}